---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { copyright, location, phone, footer_description } = config.params;
---

<footer class="footer bg-[#ffffff]">
  <div class="container">
    <div class="gx-5 row pb-10 pt-[52px] justify-between">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <Logo />
        <p class="mt-6">
          {footer_description}
        </p>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6>Nuestras redes</h6>

        <Social source={social} className="social-icons mt-4 lg:mt-6" />
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6><a class="hover:text-primary hover:underline" target="_blank" rel="noopener noreferrer" href={`${social.whatsapp}`}
          >Contáctanos</a
        ></h6>
        <ul class="mt-8">
          <li class="mb-2"><a href="https://maps.app.goo.gl/iAjeitCmVkr82WTs6" target="_blank" rel="noopener noreferrer" class="hover:text-primary hover:underline">{location}</a></li>
          <li>
            <a class="hover:text-primary hover:underline" target="_blank" rel="noopener noreferrer" href={`${social.whatsapp}`}
              >{phone}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
    <a href="https://ganextunegocioenlaweb.com/" class="content text-text" target="_blank" rel="noopener noreferrer" set:html={markdownify(copyright)}></a>
    </div>
  </div>
</footer>
